<!DOCTYPE html>
<html>
<head>
    <title>{{TITLE}}</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
    <div class="text" id="info">{{TITLE}}</div>
    <div class="text" id="redirect" style="display:none;">
        Redirecting... <span id="countdown">3</span> seconds<br>
    </div>
</div>
</body>
</html>
